
body {
  overflow: hidden;
}

#scale {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: black;
}

#scale [header] {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  color: skyblue;
  font-size: 56px;
  font-weight: bold;
  margin: 20px;
  animation: header-animation steps(29,end) 2s 1 normal forwards
}

@keyframes header-animation {
  0% {
    width: 0;
    border-right-color: rgba(0,255,0,.75);
  }
  99% {
    width: 1200px;
    border-right-color: rgba(0,255,0,.75);
  }
  100% {
    width: auto;
    border-right-color: transparent;
  }
}

#scale [home-url] {
  position: absolute;
  top: calc(50vh - 250px);
  left: calc(50vw - 250px);
  opacity: 1;
  animation-name: home-url-animation;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes home-url-animation {
  0% {
     opacity: 1;
  }
  99% {
     opacity: 1;
  }
  100% {
     opacity: 0;
  }
}
  
#scale [xeon-icon] {
  position: absolute;
  top: calc(50vh - 228px);
  left: calc(50vw - 228px);
  opacity: 0;
  animation-name: xeon-animation;
  animation-fill-mode: forwards;
  animation-duration: 6s;
  animation-delay: 4s;
}

@keyframes xeon-animation {
  from { 
    transform: scale(1);
    opacity: 1;
  } 
  to {
    transform: scale(0.5);
    opacity: 1;
  }
}

#scale [vcac-a-icon] {
  position: absolute;
  opacity: 0;
  top: calc(50vh - 420px);
  left: calc(50vw - 437px);
  animation-name: vcac-a-animation;
  animation-fill-mode: forwards;
  animation-duration: 4s;
  animation-delay: 10s;
}

@keyframes vcac-a-animation {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(0.45);
  }
}

#scale [lines] {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

#scale [lines] svg {
  width: 100%;
  height: 100%;
}

#template {
  display: none;
}

#scale [screen] {
  position: absolute;
}

#scale [screen] iframe {
  position: relative;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 81.84%;
  overflow: hidden;
}

#scale [screen] img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#scale [signals] {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

#scale [signals] [signal] {
  position: absolute;
  left: calc(50vw - 10px);
  top: calc(50vh - 10px);
  width: 20px;
  height: 20px;
  border: 1px;
  border-radius: 10px;
  color: white;
  background-color: white;
  animation-name: signal-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes signal-animation {
  from {
    transform: translate(0,0);
  }
  to {
    transform: translate(var(--signalx),var(--signaly));
  }
}

#scale [info-block] {
  position: absolute;
  left: calc(50vw - 172px);
  bottom: 0px;
  width: 350px;
  height: 300px;
  color: white;
  font-size: 25px;
  opacity: 0;
  animation-name: info-block-animation;
  animation-fill-mode: forwards;
  animation-duration: 16s;
}

#scale [info-block] tr:first-child td {
  text-align: center;
}

#scale [info-block] tr:last-child td {
  text-align: center;
}

#scale [info-block] tr:last-child td a:link {
  color: white;
}

#scale [info-block] tr:last-child td a:visited {
  color: white;
}

#scale [info-block] [line-break] {
  line-height: 0.7;
}

@keyframes info-block-animation {
  0% {
     opacity: 0;
  }
  99% {
     opacity: 0;
  }
  100% {
     opacity: 1;
  }
}

